.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fff;
}
.input {
  height: 45px;
  width: 250px;
  border-radius: 10px;
  outline: transparent;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px;
}
